{% extends 'base.html.twig' %}


{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}


{% block body %}
  
<main class="container">
    <section class="row">
        <div class="col-12">
            <h5>Découvrez nos nouveautés</h5>
        </div>
         {% for product in product %}
            {% if product.bestSeller is defined  and product.bestSeller %}
                <div class="col-2 mb-3 g-4">
                    <div class="card h-100" style="width: 10em;">
                        <img src="{{ asset('/products/' ~ product.featuredImage) }}" class="card-img-top"  height="150" alt="..." >
                            <div class="card-body">
           
                                <h5 class="card-title text-decoration-none"><a href="{{ path('home-details', {"id": product.id }) }}">{{ product.title }}</a></h5>
                                {# <p class="card-text ">{{ product.bestSeller }}</p>  #}
                
                            </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
</section>

  {#  <section class="row"> #}
  {#      <div class="col-12"> #}
  {#          <h5>Découvrez nos bestsellers</h5> #}
  {#      </div> #}
  {#           {% for product in product %} #}
  {#               {% if product.bestSeller is defined  and product.bestSeller %} #}
  {#                   <div class="col-2 mb-3 g-4"> #}
  {#                       <div class="card h-100" style="width: 10em;"> #}
  {#                           <img src="{{ asset('/products/' ~ product.featuredImage) }}"  #}
  {#                           class="card-img-top"  height="150" alt="..." > #}
  {#                          <div class="card-body"> #}
  {#                              <h5 class="card-title text-decoration-none"><a href="{{ path #}
  {#                               ('home-details', {"id": product.id }) }}">{{ product.title }}</a></h5> #}
  {#                               <p class="card-text ">{{ product.bestSeller }}</p>  #}
  {#                           </div> #}
  {#                       </div> #}
  {#                   </div> #}
  {#               {% endif %} #}
  {#      {% endfor %} #}
  {#   </section> #}
</main>

    <div class="all_product">
        <a href="{{ path('home-product') }}">Voir Tous les produits</a> 
    </div>

{% endblock %}

