{% extends 'base.html.twig' %}


{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}


{% block body %}
  
<main class="container">
    <section class="row">
        <div class="col-12">
            <h5 class="text-center">Découvrez nos nouveautés</h5>
        </div>
         {% for product in product %}
        
            <div class="col-3">
                <div class="card h-100 p-5" style="width: 15em;">
                    <img src="{{ asset('/products/' ~ product.featuredImage) }}" 
                        class="card-img-top"  height="230" alt="..." >
                        <div class="card-body-product">
            
                            <h5 class="card-title"><a href="{{ path('home-details', {"title": 
                            product.title }) }}">{{ product.title }}</a></h5>
                            <p class="card-text">{{ product.author }}</p>
                        </div>
                </div>
            </div>

        {% endfor %}
        
    </section>
</main>

    <div class="all_product">
        <a href="{{ path('home-product') }}">Voir Tous les produits</a> 
    </div>

{% endblock %}

