{% extends 'base.html.twig' %}


{% block body %}

<section class="single">
    <div class="single_head">
        <h5>{{ product.title }}</h5>
        <div class="author">

        {% for product in app.user.products %}
            <a href="{{ path('author_product', {'id':product.id}) }}">{{ product.author}} (Auteurs)</a>
        {% endfor %}
        </div>
        <div class="photo">
            <p><img src="{{ asset('/upload/images/products/' ~ product.illustration) }}" alt="" width="250"></p>
            <a href="">{{ product.category }}</a>
        </div>
    </div>

    <div class="details">
        <div class="details_price">
            <p class="price">{{ product.price }} Euros</p>
            <p class="stock">
            {%  if product.stock > 5 %}
                <p class="text-success"> Disponible</p>
               
                {% elseif product.stock > 0 %}
                <p class="text-warning"> Plus que {{ product.stock }} !</p>
                
                {% else %}
                    <p class="text-danger">Épuisé</p>
            {% endif %}</p>

            <form action="" method="post">
                <button type="submit" class="btn btn-primary">Ajouter au panier</button>
            </form>
        </div>

        <div class="resume">
            <p>{{ product.excerpt }}</p>
            <p>Date de parution: {{ product.publishedAt |date("d/m/Y")  }}</p>
            <p>Éditeurs: {{ product.editor}}</p>
            <a href="{{ path('app_product') }}">Retour à la liste</a>
        </div>
    </div>
</section>

<hr>
<p>Commentaire(s)</p>
{% for comment in product.comments %}
<p>{{ product.comments }}</p>
{% endfor %}



{% endblock %}